body {
    background: white;
    margin: 0 auto;
}

.container.first {
    width: 80%;
}

div.jumbotron {
    background-image: linear-gradient(60deg, #4fdaab 0%, #ffec6d 100%);
    /* background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%); */
    /* background-image: linear-gradient(to right, #fddb92 0%, #d1fdff 100%); */
}

.main-page {
    margin-top: 10px;
    padding: 15px;
    /* background: #fafafa; */
    border: 1px solid rgb(211, 211, 211);
    margin-bottom: 10px;
    border-radius: .5em;
}

.col h5,
.col p {
    margin: 0;
}

.col img.abstract {
    object-fit: cover;
    margin-right: 20px;
    float: right;
    height: 325px;
}

h4 {
    text-align: center;
}

.data {
    color: grey;
}

.tororo {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}

.author {
    margin-bottom: 20px;
}

a.download {
    padding: 5px;
    border-radius: .3em;
    color: white;
    text-decoration: none;
    background: #295997;
    margin-top: 20px;
}

.paper>h5 {
    margin-bottom: 15px;
}

.authorname {
    text-decoration: none;
    color: black;
}